.contact-section {
  color: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: #000000;
  text-align: center;
}

.contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 opacity: 0.4;
  z-index: 0; /* Establece un contexto de apilamiento */
}

.container.contact {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  z-index: 2;
}

.section-title {
  padding: 1rem 0;
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 10px;
  z-index: 2;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
  background-color: transparent;
  border-radius: 10px;
  padding: 2rem; /* Usa unidades relativas */
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-label {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-weight: bold;
  border-radius: 5px;
}

.form-input {
  background-color: #ffffff;
  padding: 0.75rem; /* Aumenta el padding para mejor usabilidad */
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 100%;
  transition: border-color 0.3s; /* Agrega transición para el foco */
}

.form-input:focus {
  border-color: #007bff; /* Resalta el borde en foco */
  outline: none; /* Elimina el contorno predeterminado */
}

.submit-button {
  background-color: #ffffff;
  padding: 0.75rem 1.5rem; /* Aumenta el padding para mejor usabilidad */
  border: none;
  border-radius: 0.25rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #002fff;
  color: #ffffff;
}

.submit-button:focus {
  outline: 2px solid #007bff; /* Agrega un contorno en foco */
}

/* BREAKPOINTS */

/* TABLET */
@media (max-width: 1024px) {
  .section-title {
    font-size: 3rem;
  }
  .container.contact {
    max-width: 600px;
  }
  .form-label {
    font-size: 1.3rem;
  }
}

/* MÓVILES GRANDES */
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    text-align: center;
  }
  .section-title {
    font-size: 2.5rem;
  }
  .form-container {
    padding: 1.5rem; /* Ajusta el padding para móviles */
  }
  .form-label {
    font-size: 1.2rem;
  }
}

/* MÓVILES PEQUEÑOS */
@media (max-width: 480px) {
  .section-title {
    font-size: 2rem;
  }
  .form-container {
    padding: 1rem; /* Ajusta el padding para móviles pequeños */
  }
  .form-label {
    font-size: 1rem;
  }
}