.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  padding: 4rem 2rem;
  text-align: center;
}

.content-container {
  width: 100%;
  max-width: 1400px;
  opacity: 1; /* Elimina la opacidad inicial */
  transform: translateY(0); /* Elimina la transformación inicial */
}

.content-title {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: #ffffff;
  background-color: transparent;
  border-radius: 20px;
  opacity: 1; /* Elimina la opacidad inicial */
  transform: translateX(0); /* Elimina la transformación inicial */
}

.content-description {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border-radius: 20px;
  opacity: 1; /* Elimina la opacidad inicial */
  transform: translateX(0); /* Elimina la transformación inicial */
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  opacity: 1; /* Elimina la opacidad inicial */
  transform: translateX(0); /* Elimina la transformación inicial */
}

.button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1rem;
}

.button.primary {
  background-color: #818080;
}

.button.secondary {
  background-color: #e2e2e2;
}

.button.primary:hover,
.button.secondary:hover {
  background-color: #004172;
  color: white;
}

/* BREAKPOINTS */

/* TABLET */
@media (max-width: 1024px) {
  .content-title {
    font-size: 4rem;
  }
  .content-description {
    font-size: 1.5rem;
  }
  .content-container {
    max-width: 800px;
  }
}

/* MÓVILES GRANDES */
@media (max-width: 768px) {
  .content-title {
    font-size: 3rem;
  }
  .content-description {
    font-size: 1.3rem;
  }
  .button-group {
    flex-direction: column;
    align-items: center;
  }
  .button {
    width: 100%;
    max-width: 300px;
  }
}

/* MÓVILES PEQUEÑOS */
@media (max-width: 480px) {
  .content-title {
    font-size: 2.5rem;
  }
  .content-description {
    font-size: 1.2rem;
  }
  .content-container {
    padding: 2rem 1rem;
  }
}