.services-section {
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20231031/pngtree-vibrant-green-feather-texture-as-a-background-image_13752111.png');
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    z-index: 0;
    background-blend-mode: overlay;
    background-color: rgba(12, 12, 12, 0.4);
    filter: grayscale(1);
    opacity: 0.2;
}

.services-container {
  width: 100%;
  max-width: 1400px;
}

.services-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #ffffff;
  background-color: transparent;
  border-radius: 20px;
  font-size: 4.5rem;
  margin-bottom: 2rem;
  text-align: center;
  transform: translateX(0); /* Elimina la transformación inicial */
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
}

.card {
  color: #c7c7c7;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(0); /* Elimina la transformación inicial */
  opacity: 1; /* Elimina la opacidad inicial */
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.card-description {
  text-align: center;
  font-size: 1rem;
  color: #aaaaaa;
}

/* BREAKPOINTS */

/* TABLET */
@media (max-width: 1024px) {
  .services-title {
    font-size: 3.5rem;
  }
  .services-grid {
    gap: 1.5rem;
  }
  .card {
    padding: 1.5rem;
  }
}

/* MÓVILES GRANDES */
@media (max-width: 768px) {
  .services-title {
    font-size: 3rem;
  }
  .services-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .card {
    padding: 1.2rem;
  }
}

/* MÓVILES PEQUEÑOS */
@media (max-width: 480px) {
  .services-title {
    font-size: 2.5rem;
  }
  .services-grid {
    grid-template-columns: 1fr;
  }
  .card {
    padding: 1rem;
  }
}
